<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="no.ntnu.androidgame"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="The BrainWasher">
        <activity android:name=".Main"
                  android:label="The BrainWasher"
                  android:configChanges="keyboardHidden"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<uses-library android:name="android.test.runner" />
    </application>
    
<instrumentation android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="no.ntnu.androidgame"
    android:label="AndroidGame" />

</manifest> 